.l-header {
    width: 100%;
    height: $header-height-sm;
    padding-left: 16px;

    @include mq("md") {
        padding-left: 50px;
        height: $header-height-md;
    }

    &--fixed {
        z-index: 50000;
        position: fixed;
        top: 0;
    }

    &--flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-nav {
        display: none;
        @include mq("xl") {
            display: block;
        }

        &__menu {
            &--flex {
                display: flex;
                justify-content: space-between;
            }
        }
        &__item {
            margin-left: 50px;

            a {
                line-height: $header-height-md;
                color: #fff;
            }

            &--contact {
                position: relative;
                background-color: #ED8700;
                width: 150px;
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                img {
                    width: 32px;
                    display: block;
                    margin: 0 auto;
                    padding-top: 10px;
                }
                p {
                    line-height: normal;
                    text-align: center;
                    margin-top: 5px;
                }
            }
        }
    }
    &-hamburger {
        position: relative;
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        margin-right: 2%;
        @include mq("xl") {
            display: none;
        }

        &__line {
            display: inline-block;
            transition: all .4s;
            position: absolute;
            left: 14px;
            height: 3px;
            border-radius: 2px;
            background: #fff;
            width: 45%;

            &:nth-of-type(1) {
                top:15px;
            }
            &:nth-of-type(2) {
                top:23px;
            }
            &:nth-of-type(3) {
                top:31px;
            }
        }
        &__nav {
            display: none;
        }
        &__menu {
        }
        &__item {
            text-align: center;
            margin-top: 6%;
            a {
                color: $color-txt-white;
            }
        }
    }
    &-sns {
        display: flex;
        justify-content: space-between;
        margin: 10% auto;
        width: 50%;
        li {
            width: 14%;
        }
    }
}

